<div class="container">
  <h1><%= @restaurant.name %></h1>
    <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>/5
      </li>
    <% end %>
  </ul>
</div>
